---
import { getTranslator } from "../../lib/i18n.ts";

const __ = await getTranslator(Astro.currentLocale);

const items = [
  { label: "10+", description: __("frameworks supported") },
  { label: "20+", description: __("countries served") },
  { label: "100+", description: __("customers") },
];
---

<section class="bg-active">
  <div class="sm:container">
    <div class="grid grid-cols-2 overflow-hidden sm:grid-cols-3">
      {
        items.map((item, k) => (
          <div
            class="items-between -mr-[1px] -mb-[1px] flex aspect-square flex-col justify-between gap-2 border-r border-b p-5 sm:aspect-360/340 sm:p-10"
            style={`animation-delay: ${k * 0.1}s;`}
          >
            <span class="text-quote">{item.label}</span>
            <span class="text-muted-foreground">{item.description}</span>
          </div>
        ))
      }
    </div>
  </div>
</section>
