---
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout
  title="Politique de cookies"
  subtitle="Last updated: 10/23/2025"
  description="Learn about how Probo uses cookies and similar technologies to improve your browsing experience and track website analytics."
>
  <section>
    <h2>Que sont les cookies ?</h2>
    <p>
      Cookies are small text files that are placed on your computer or mobile
      device when you visit a website. They are widely used to make websites
      work more efficiently and provide a better browsing experience. Cookies
      can be "persistent" or "session" cookies.
    </p>
  </section>
  <section>
    <h2>How We Use Cookies</h2>
    <p>
      We use cookies for several purposes, including to provide essential
      website functionality, improve website performance, and offer you a better
      browsing experience. Here's an overview of the types of cookies we use:
    </p>
    <div>
      <div>
        <h3>Essential Cookies</h3>
        <p>
          These cookies are necessary for the website to function and cannot be
          switched off. They are usually only set in response to actions made by
          you which amount to a request for services, such as setting your
          privacy preferences, logging in or filling in forms.
        </p>
        <div>
          <table>
            <thead>
            <tr>
              <th>Cookie Name</th>
              <th>Purpose</th>
              <th>Duration</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Session Cookie</td>
              <td>Maintains your session while you are using our website </td>
              <td>Session</td>
            </tr>
            <tr>
              <td>CSRF Token</td>
              <td>Helps prevent cross-site request forgery attacks</td>
              <td>Session</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <h3>Analytics Cookies</h3>
        <p>
          These cookies allow us to count visits and traffic sources so we can
          measure and improve the performance of our site. They help us to know
          which pages are the most and least popular and see how visitors move
          around the site.
        </p>
        <div>
          <table>
            <thead>
            <tr>
              <th>Cookie Name</th>
              <th>Purpose</th>
              <th>Duration</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Posthog</td>
              <td>Anonymous website usage statistics</td>
              <td>1 year</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h2>Managing Cookies</h2>
    <p>
      Most web browsers allow you to control cookies through their settings
      preferences. However, if you limit the ability of websites to set cookies,
      you may worsen your overall user experience, as it will no longer be
      personalized to you. It may also stop you from saving customized settings
      like login information.
    </p>
  </section>
  <section>
    <h2>Updates to This Policy</h2>
    <p>
      We may update this Cookie Policy from time to time in order to reflect
      changes to the cookies we use or for other operational, legal, or
      regulatory reasons. Please re-visit this Cookie Policy regularly to stay
      informed about our use of cookies and related technologies.
    </p>
    <p>
      If you have any questions about our use of cookies or other technologies,
      please email us at <a href="mailto:privacy@getprobo.com"
    >privacy@getprobo.com</a
    >.
    </p>
  </section>
</PageLayout>
