---
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout
  title="Politique de cookies"
  subtitle="Dernière mise à jour : 23/10/2025"
  description="Découvrez comment Probo utilise les cookies et technologies similaires pour améliorer votre expérience de navigation et analyser les performances du site."
>
  <section>
    <h2>C'est quoi les Cookies ?</h2>
    <p>
      Les cookies sont de petits fichiers texte déposés sur votre ordinateur ou
      appareil mobile lorsque vous visitez un site web. Ils sont largement
      utilisés pour permettre aux sites de fonctionner plus efficacement et
      offrir une meilleure expérience de navigation. Les cookies peuvent être
      « persistants » ou « de session ».
    </p>
  </section>
  <section>
    <h2>Comment nous utilisons les cookies</h2>
    <p>
      Nous utilisons des cookies pour plusieurs raisons, notamment pour fournir
      des fonctionnalités essentielles au site, améliorer ses performances et
      vous offrir une meilleure expérience de navigation. Voici un aperçu des
      types de cookies que nous utilisons :
    </p>
    <div>
      <div>
        <h3>Cookies essentiels</h3>
        <p>
          Ces cookies sont nécessaires au fonctionnement du site et ne peuvent
          pas être désactivés. Ils sont généralement définis en réponse à vos
          actions qui correspondent à une demande de services, comme la
          configuration de vos préférences de confidentialité, la connexion ou le
          remplissage de formulaires.
        </p>
        <div>
          <table>
            <thead>
            <tr>
              <th>Nom du cookie</th>
              <th>Objectif</th>
              <th>Durée</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Session Cookie</td>
              <td>Maintient votre session lorsque vous utilisez notre site</td>
              <td>Session</td>
            </tr>
            <tr>
              <td>CSRF Token</td>
              <td>Aide à prévenir les attaques CSRF (cross-site request forgery)</td>
              <td>Session</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <h3>Cookies d'analyse</h3>
        <p>
          Ces cookies nous permettent de compter les visites et les sources de
          trafic afin de mesurer et d'améliorer les performances de notre site.
          Ils nous aident à savoir quelles pages sont les plus et les moins
          populaires et à comprendre comment les visiteurs naviguent sur le site.
        </p>
        <div>
          <table>
            <thead>
            <tr>
              <th>Nom du cookie</th>
              <th>Objectif</th>
              <th>Durée</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Posthog</td>
              <td>Statistiques anonymes d’utilisation du site</td>
              <td>1 an</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h2>Gestion des cookies</h2>
    <p>
      La plupart des navigateurs web vous permettent de contrôler les cookies via
      leurs paramètres. Toutefois, si vous limitez la capacité des sites à
      déposer des cookies, votre expérience générale peut être dégradée, car elle
      ne sera plus personnalisée. Cela peut également vous empêcher d’enregistrer
      certaines préférences comme vos informations de connexion.
    </p>
  </section>
  <section>
    <h2>Mises à jour de cette politique</h2>
    <p>
      Nous pouvons mettre à jour cette politique de cookies de temps à autre afin
      de refléter des changements dans les cookies que nous utilisons ou pour
      d’autres raisons opérationnelles, juridiques ou réglementaires. Veuillez
      consulter cette page régulièrement pour rester informé de notre utilisation
      des cookies et technologies associées.
    </p>
    <p>
      Si vous avez des questions concernant notre utilisation des cookies ou
      autres technologies, vous pouvez nous écrire à
      <a href="mailto:privacy@getprobo.com">privacy@getprobo.com</a>.
    </p>
  </section>
</PageLayout>
