---
import MobileMenuToggle from "virtual:starlight/components/MobileMenuToggle";
import Header from "../Header.astro";
---

<Header hideBurger>
  <MobileMenuToggle />
</Header>
<div transition:animate="none" class="grid grid-cols-1 lg:grid-cols-[260px_1fr] xl:grid-cols-[1fr_700px_1fr] items-start gap-10 relative pt-20 px-5 xl:pt-10 max-w-[1400px] mx-auto">
  <nav
    class="sidebar justify-self-start top-16 fixed transition-all w-full lg:max-w-60 lg:sticky-top"
    aria-label={Astro.locals.t("sidebarNav.accessibleLabel")}
  >
    <slot name="sidebar" />
  </nav>
  <slot />
</div>

<style>
  @media (max-width: 64rem) {
    body[data-mobile-menu-expanded] .sidebar {
      transform: translateY(0);
      opacity: 1;
    }
    .sidebar {
      border-top: solid 1px var(--color-border-low);
      padding-top: 1rem;
      padding-inline: .5rem;
      height: calc(100vh - var(--sl-nav-height));
      transition: .2s ease-in-out;
      z-index: 200;
      left: 0;
      opacity: 0;
      transform: translateY(-30px);
      pointer-events: none;
      background-color: var(--sl-color-bg);
      box-shadow: var(--shadow-md);
      border-right: solid 1px var(--color-border-low);
    }
  }
</style>
