---
import Layout from "../layouts/Layout.astro";
import AboutImg from "../assets/about.png";
import KeyFigures from "../components/block/KeyFigures.astro";
import Team from "../components/block/Team.astro";
import Gallery from "../components/block/Gallery.astro";
import ResponsiveImage from "../components/ui/ResponsiveImage.astro";
import { getTranslator } from "../lib/i18n.ts";

const __ = await getTranslator(Astro.currentLocale)
---

<Layout
  title={__("About Probo - Open-Source Compliance Platform")}
  description={__("Learn about Probo's mission to transform compliance from a complex burden into an intuitive journey. Meet our team of ISO 27001 certified auditors.")}
>
  <main>
    <section class="container my-10 sm:mt-20 sm:mb-30">
      <h1
        class="text-h2 mb-3 font-medium animate-slide-in"
      >
        {__("About")}
      </h1>
      <p
        class="text-muted-foreground mb-6 sm:mb-12 animate-slide-in animation-delay-100"
      >
        {__("The people and vision powering Probo.")}
      </p>
      <ResponsiveImage
        src={AboutImg}
        class="aspect-square object-cover sm:aspect-1080/606 mb-10 rounded-lg sm:mb-30 animate-slide-in animation-delay-200"
        mobile={[640, 640]}
        sm={[1080, 607]}
        alt=""
        fetchpriority="high"
      />
      <h2
        class="text-muted-foreground mb-1 animate-slide-in animation-delay-300"
      >
        {__("Mission")}
      </h2>
      <p class="text-quote animate-slide-in animation-delay-400">
        {__("We're transforming compliance from a complex burden into an intuitive journey. Our platform makes compliance straightforward and cost-effective, empowering businesses of all sizes to meet regulatory requirements with confidence.")}
      </p>
    </section>

    <KeyFigures />

    <Team />

    <Gallery />
  </main>
</Layout>
