---
import Layout from "../layouts/Layout.astro";
import AboutImg from "../assets/about.png";
import KeyFigures from "../components/block/KeyFigures.astro";
import Team from "../components/block/Team.astro";
import Gallery from "../components/block/Gallery.astro";
import ResponsiveImage from "../components/ui/ResponsiveImage.astro";
import { getTranslator } from "../lib/i18n.ts";

const __ = await getTranslator(Astro.currentLocale)
---
<Layout
  title={__("Feedback is gift")}
  description={__("Please be honest")}
>
  <main>
    
    <section class="container my-10 sm:mt-20 sm:mb-30">
        <h1
        class="text-h2 mb-3 font-medium animate-slide-in"
      >
        {__("Thank you for your trust")}
      </h1>
      <iframe data-tally-src="https://tally.so/embed/XxreLO?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1" loading="lazy" width="100%" height="986" frameborder="0" marginheight="0" marginwidth="0" title="Feedback is gift"></iframe>
      <script>var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if("undefined"!=typeof Tally)v();else if(d.querySelector('script[src="'+w+'"]')==null){var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}</script>
    </section>  
</main>
</Layout>
