---
import Layout from "../layouts/Layout.astro";
import YCombinator from "../assets/ycombinator.svg";
import { Image } from "astro:assets";
import AnimatedHero from "../components/ui/AnimatedHero.svelte";
import Button from "../components/ui/Button.svelte";
import Badges from "../components/Badges.svelte";
import Logos from "../components/block/Logos.astro";
import Testimonials from "../components/block/Testimonials.astro";
import SaleArg from "../components/ui/SaleArg.astro";

import TrustImage from "../assets/app/trust.png";
import SlackImage from "../assets/app/slack.png";
import OpenSource from "../components/block/OpenSource.astro";
import Stories from "../components/block/Stories.astro";
import ComplianceTrack from "../components/block/ComplianceTrack.svelte";
---

<Layout
  title="Probo - Compliance for Startups in One Week"
  description="Get SOC 2, GDPR, HIPAA, and ISO certified in just one week. Open-source compliance management platform with no vendor lock-in. Backed by Y Combinator."
>
  <AnimatedHero client:load class="py-10 sm:py-20">
    <a
      href="https://www.ycombinator.com/companies/probo"
      target="_blank"
      rel="noopener noreferrer"
      class="yc-btn text-muted-foreground animate-perspective-in animation-delay-300 mx-auto mb-6 flex w-max items-center gap-2 px-4 py-2 sm:mb-8"
    >
      Backed by
      <Image src={YCombinator} alt="Logo YCombinator" width={77} height={15} />
    </a>
    <h1
      class="text-h2 sm:text-h1 mb-6 overflow-hidden text-center font-medium text-balance sm:mb-8"
    >
      <span class="animate-perspective-in inline-block">Continuous Compliance,</span>
      <span class="animate-perspective-in inline-block delay-50"
        >Simplified.</span
      >
    </h1>
    <p
      class="text-muted-foreground animate-perspective-in animation-delay-150 mx-auto mb-6 max-w-200 text-center text-lg text-balance sm:mb-8"
    >
      Automate SOC 2, ISO 27001, HIPAA, and more without the overhead. Probo
      keeps you audit-ready as you grow, so you can focus on shipping, not
      spreadsheets.
    </p>
    <div class="mb-10 flex items-center justify-center gap-3 sm:mb-12">
      <Button
        class="animate-perspective-in animation-delay-200"
        variant="secondary"
        size="lg"
        href="/docs/self-hosting/docker-compose">Deploy Open Source</Button
      >
      <Button
        class="animate-perspective-in animation-delay-300"
        size="lg"
        href="https://form.getprobo.com/r/nrxk9v">Talk to an expert</Button
      >
    </div>
    <Badges
      count={5}
      countMobile={3}
      client:load
      class="grid grid-cols-3 gap-2 sm:grid-cols-5 sm:gap-10 max-w-165 mx-auto"
    />
  </AnimatedHero>

  <Logos class="animate-fade-in animation-delay-400" />

  <ComplianceTrack client:visible />

  <section class="container py-10 sm:py-20">
    <h2 class="text-h3 sm:text-h2 mb-3 text-center font-medium">
      Put compliance on autopilot
    </h2>
    <p class="text-muted-foreground mb-10 text-center text-lg sm:mb-12 max-w-140 mx-auto">
      Compliance isn’t your job so we’ve made it ours. Probo takes care of the
      details, keeps you in control, and run behing the scenes.
    </p>

    <div
      class="flex grid-cols-2 flex-col items-start gap-10 sm:grid sm:gap-x-20 sm:gap-y-12"
    >
      <SaleArg title="Your dedicated compliance expert" video="/videos/keyshot1.mp4">
        <p>
          A compliance officer becomes part of your team, managing policies,
          controls, and the rest on your behalf. Real people, not ticket queues.
        </p>
      </SaleArg>

      <SaleArg
        title="Compliance that runs in the background"
        video="/videos/keyshot2.mp4"
      >
        <p>
          Probo automates evidence collection, updates, and approvals - quietly
          keeping you audit-ready. You only get notified when something needs
          your attention.
        </p>
      </SaleArg>

      <SaleArg
        title="Leverage your compliance for revenue growth"
        video="/videos/keyshot3.mp4"
      >
        <p>
          Turn your compliance into a sales advantage. Share a secure, branded
          page with customers and prospects to prove your compliance instantly.
        </p>
      </SaleArg>

      <SaleArg title="Get stuff done on Slack"
               video="/videos/keyshot4.mp4"
      >
        <p>
          Find documents, start workflows, and talk to experts - all from Slack.
          Compliance support that fits where your team already works.
        </p>
      </SaleArg>
    </div>
  </section>

  <Testimonials />

  <OpenSource />

  <Stories />
</Layout>

<style></style>
