---
import Layout from "../layouts/Layout.astro";
import YCombinator from "../assets/ycombinator.svg";
import { Image } from "astro:assets";
import AnimatedHero from "../components/ui/AnimatedHero.svelte";
import Button from "../components/ui/Button.svelte";
import Badges from "../components/Badges.svelte";
import Logos from "../components/block/Logos.astro";
import Testimonials from "../components/block/Testimonials.astro";
import SaleArg from "../components/ui/SaleArg.astro";

import Stories from "../components/block/Stories.astro";
import ComplianceTrack from "../components/block/ComplianceTrack.astro";
import { getTranslator } from "../lib/i18n.ts";
const __ = await getTranslator(Astro.currentLocale)
---

<Layout
  title={__("Probo - Compliance done for you")}
  description={__("Get SOC 2, GDPR, HIPAA, and ISO certified with expert guidance and the job done for you. Open-source compliance management platform with no vendor lock-in. Backed by Y Combinator.")}
>
  <animated-hero class="block py-10 sm:pt-20 sm:pb-12 relative overflow-hidden px-5">
    <a
      href="https://www.ycombinator.com/companies/probo"
      target="_blank"
      rel="noopener noreferrer"
      class="yc-btn text-muted-foreground animate-perspective-in animation-delay-300 mx-auto mb-6 flex w-max items-center gap-2 px-4 py-2 sm:mb-8"
    >
      {__("Backed by")}
      <Image src={YCombinator} alt="Logo YCombinator" width={77} height={15} />
    </a>
    <h1
      class="text-h2 sm:text-h1 mb-6 overflow-hidden text-center font-medium text-balance sm:mb-8"
    >
      <span class="block animate-perspective-in">{__('Compliance')},</span>
      <span class="block animate-perspective-in delay-50"
        >
        {__("Done For You.")}
      </span
      >
    </h1>
    <p
      class="text-muted-foreground animate-perspective-in animation-delay-150 mx-auto mb-6 max-w-200 text-center text-lg text-balance sm:mb-8"
    >
      {__("Our compliance officers run your program end-to-end. Stay continuously audit-ready without the overhead or complexity of traditional compliance platforms.")}
    </p>
    <div class="mb-11 flex flex-col sm:flex-row items-stretch sm:items-center justify-center gap-3 sm:mb-17">
      <Button
        class="animate-perspective-in animation-delay-200"
        variant="secondary"
        size="lg"
        href="/docs/self-hosting/docker-compose">Deploy Open Source</Button
      >
      <Button
        class="animate-perspective-in animation-delay-300"
        size="lg"
        href="https://form.getprobo.com/r/nrxk9v">{__('Talk to an expert')}</Button
      >
    </div>
    <Badges
      count={10}
      countMobile={6}
      client:load
      border
      class="grid grid-cols-3 sm:grid-cols-5 max-w-[960px] mx-auto"
    />
    <section class="mix-blend-multiply mt-11 sm:mt-17">
      <h2 class="text-tertiary-foreground text-center animate-perspective-in animation-delay-300 ">
        Trusted by leading teams
      </h2>
      <Logos class="animate-slide-in animation-delay-300" constrained/>
    </section>
  </animated-hero>

  <ComplianceTrack />

  <section class="container py-10 sm:py-20">
    <h2 class="text-h3 sm:text-h2 mb-3 text-center font-medium">
      {__("Put compliance on autopilot")}
    </h2>
    <p class="text-muted-foreground mb-10 text-center text-lg sm:mb-12 max-w-180 mx-auto">
      {__("Run your entire compliance program with a blend of expert support and automation. Probo’s compliance officers handle the work behind the scenes while the platform keeps everything continuously audit-ready.")}
    </p>

    <div
      class="flex grid-cols-2 flex-col items-start gap-10 sm:grid sm:gap-x-20 sm:gap-y-12"
    >
      <SaleArg title={__("Your dedicated compliance expert")} video="/videos/keyshot1.mp4">
        <p>
          {__("A seasoned compliance officer becomes an extension of your team, managing policies, controls, reviews, and assessments on your behalf - real expertise, not ticket threads.")}
        </p>
      </SaleArg>

      <SaleArg
        title={__("Compliance that runs in the background")}
        video="/videos/keyshot2.mp4"
      >
        <p>
          {__("Probo automates evidence collection, updates, and approvals, while our team keeps your entire program aligned and audit-ready. You’re only notified when something genuinely needs your attention.")}
        </p>
      </SaleArg>

      <SaleArg
        title={__("Leverage your compliance for revenue growth")}
        video="/videos/keyshot3.mp4"
      >
        <p>
          {__("Show customers and prospects you’re trustworthy. Share a secure, branded trust page that instantly proves your compliance and helps accelerate deals.")}
        </p>
      </SaleArg>

      <SaleArg title={__("Get stuff done on Slack")}
               video="/videos/keyshot4.mp4"
      >
        <p>
          {__("Access documents, trigger workflows, and talk directly with your compliance officer - all without leaving Slack. Support that fits seamlessly into how your team already works.")}
        </p>
      </SaleArg>
    </div>
  </section>

  <Testimonials />

  <!-- <OpenSource /> -->

  <Stories />
</Layout>

<script>
  import {AnimatedHero} from '../lib/elements/hero'

  customElements.define('animated-hero', AnimatedHero)
</script>
