---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Logos from "../components/block/Logos.astro";
import StoryCard from "../components/StoryCard.astro";
import { filterLang } from "../lib/i18n.ts";

const stories = (await getCollection("stories", filterLang(Astro.currentLocale))).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout
  title="Customer stories"
  description="Inspiring stories, real Probo customers"
>
  <main class="my-10 sm:my-20">
    <div class="container">
    <h1
      class="text-h2 sm:text-h1 mb-3 text-center font-medium overflow-hidden"
    >
      <span class="inline-block animate-perspective-in">Customer</span> <span class="inline-block animate-perspective-in animation-delay-100">Stories</span>
    </h1>
    <p
      class="text-muted-foreground text-center text-base animate-perspective-in animation-delay-200"
    >
      Inspiring stories, real Probo customers
    </p>
    </div>
    <Logos class="my-6 animate-slide-in animation-delay-300" constrained/>
    <div class="container grid grid-cols-1 gap-5 sm:grid-cols-2 sm:gap-6 animate-slide-in animation-delay-250">
      {
        stories.map((item) => (
          <StoryCard story={item} />
        ))
      }
    </div>
  </main>
</Layout>
