---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Logos from "../components/block/Logos.astro";
import StoryCard from "../components/StoryCard.astro";
import { filterLang, getTranslator } from "../lib/i18n.ts";

const __ = await getTranslator(Astro.currentLocale);
const stories = (
  await getCollection("stories", filterLang(Astro.currentLocale))
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout
  title={__("Customer stories")}
  description={__("Inspiring stories, real Probo customers")}
>
  <main class="my-10 sm:my-20">
    <div class="container">
      <h1
        class="text-h2 sm:text-h1 mb-3 overflow-hidden text-center font-medium"
      >
        <span class="animate-perspective-in inline-block">Customer</span>
        <span class="animate-perspective-in animation-delay-100 inline-block"
          >Stories</span
        >
      </h1>
      <p
        class="text-muted-foreground animate-perspective-in animation-delay-200 text-center text-base"
      >
        {__("Inspiring stories, real Probo customers")}
      </p>
    </div>
    <Logos class="animate-slide-in animation-delay-300 my-6" constrained />
    <div
      class="animate-slide-in animation-delay-250 container grid grid-cols-1 gap-5 sm:grid-cols-2 sm:gap-6"
    >
      {stories.map((item) => <StoryCard story={item} />)}
    </div>
  </main>
</Layout>
