---
import { Image } from "astro:assets";
import Logo from "../assets/probo-logo.svg";
import NavLink from "./NavLink.astro";
import Button from "./ui/Button.svelte";
import MobileMenu from "./MobileMenu.astro";
import GithubStars from "./GithubStars.astro";
import { getLink, getTranslator } from "../lib/i18n.ts";

const __ = await getTranslator(Astro.currentLocale);
type Props = {
  hideBurger: boolean
}
---

<header class="page-header text-primary data-[scrolled=true]:bg-secondary/80 sticky top-0 z-50 data-[scrolled=true]:backdrop-blur-md transition-all data-[scrolled=true]:border-b">
  <div class="container mx-auto flex items-center py-3 sm:py-4">
    <a class="mr-auto" href={getLink(Astro, "/")} transition:name="header-logo">
      <Image src={Logo} alt="Logo probo" width={73} height={20} class="block" />
    </a>
    <nav class="hidden sm:flex" transition:name="header-nav">
      <NavLink href={getLink(Astro, "/about")}>{__("About")}</NavLink>
      <NavLink href={getLink(Astro, "/blog")}>{__("Blog")}</NavLink>
      <NavLink href={getLink(Astro, "/stories")}>{__("Stories")}</NavLink>
      <NavLink href="/docs">{__("Docs")}</NavLink>
      <Button variant="secondary" href="https://github.com/getprobo/probo/stargazers" class="text-sm leading-tight">
        <div class="flex items-center gap-1.5">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 16" width="17" height="16">
            <path fill="#1C2024" fill-rule="evenodd"
                  d="M8.14 0A8.17 8.17 0 0 0 0 8.2a8.2 8.2 0 0 0 5.57 7.78c.4.09.55-.17.55-.39l-.01-1.52c-2.27.49-2.74-.98-2.74-.98-.36-.95-.9-1.2-.9-1.2-.74-.5.05-.5.05-.5.82.06 1.25.85 1.25.85.73 1.25 1.9.9 2.38.68.06-.53.28-.9.5-1.1-1.8-.2-3.7-.9-3.7-4.05 0-.9.33-1.63.84-2.2-.08-.2-.37-1.05.08-2.17 0 0 .69-.22 2.24.84a7.83 7.83 0 0 1 4.07 0c1.55-1.06 2.24-.84 2.24-.84.44 1.12.16 1.96.08 2.17.52.57.83 1.3.83 2.2 0 3.15-1.9 3.84-3.72 4.05.3.25.55.74.55 1.52v2.25c0 .22.14.48.54.4a8.2 8.2 0 0 0 5.57-7.79A8.15 8.15 0 0 0 8.14 0Z"
                  clip-rule="evenodd" />
          </svg>
          <div class="mt-0.5">{__("Star")}</div>
        </div>
        <hr class="h-full w-[1px] bg-border-solid"/>
        <GithubStars class="mt-0.5 block"/>
      </Button>
    </nav>
    <div
      transition:name="header-compliant"
    >
      <Button
        href={getLink(Astro, "/contact")}
        class="ml-auto h-9 px-4 sm:ml-4 sm:h-8 sm:px-3 whitespace-nowrap"
      >
        {__("Get compliant")}
      </Button>
    </div>    <slot/>
    {!Astro.props.hideBurger && <burger-menu
      class="group ml-3 grid size-9 place-items-center sm:hidden"
      aria-label="Open mobile menu"
    >
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        xmlns="http://www.w3.org/2000/svg"
        class="group-aria-selected:hidden"
      >
        <path
          d="M2 8H14M2 4H14M2 12H14"
          stroke="#141E12"
          stroke-width="1.33333"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="hidden group-aria-selected:block"
      >
        <path
          d="M3.33325 3.33594L12.6666 12.6693M12.6666 3.33594L3.33325 12.6693"
          stroke="black"
          stroke-width="1.33333"
          stroke-linecap="round"></path>
      </svg>
    </burger-menu>}
  </div>
</header>

<MobileMenu id="mobile-menu" />

<script>
  import { customElementDefine } from "../lib/dom";

  class BurgerMenu extends HTMLElement {
    scrolled = null as null | boolean;

    connectedCallback() {
      this.addEventListener("click", () => {
        const sidebar = document.querySelector(
          "#mobile-menu"
        ) as HTMLDialogElement;
        const sidebarOpen = !sidebar.hasAttribute("open");
        if (sidebarOpen) {
          sidebar.setAttribute("open", "");
          this.setAttribute("aria-selected", "true");
          document.body.style.overflow = "hidden";
        } else {
          sidebar.removeAttribute("open");
          this.removeAttribute("aria-selected");
          document.body.style.removeProperty("overflow");
        }
      });
      window.addEventListener('scroll', this.onScroll)
      this.onScroll()
    }

    disconnectedCallback () {
      window.removeEventListener('scroll', this.onScroll)
    }

    onScroll = () => {
      const isScrolled = document.documentElement.scrollTop > 10
      // Skip the logic if we already have scrolled

      if (isScrolled === this.scrolled) {
        return;
        }
        this.closest('header')?.setAttribute('data-scrolled', isScrolled.toString())
        this.scrolled = isScrolled
    }
  }

  customElementDefine("burger-menu", () => BurgerMenu);
</script>
