---
import Layout from "./Layout.astro";
import Prose from "../components/Prose.astro";

interface Props {
  title: string;
  subtitle: string;
  description: string;
}
---

<Layout title={Astro.props.title} description={Astro.props.description}>
  <div class="container max-w-[720px] py-10 sm:py-20">
    <div class="text-muted-foreground animate-slide-in mb-5">
      {Astro.props.subtitle}
    </div>
    <h1 class="text-h2 animate-slide-in animation-delay-100 mb-10 font-medium">
      {Astro.props.title}
    </h1>
    <Prose class="animate-slide-in animation-delay-200">
      <slot />
    </Prose>
  </div>
</Layout>
